<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body><br>
    <div class= "container">
        <h4>Edit Course</h4>
        <div class="form-group">
            <form action="/home/admin/course/<%= course.id %>/update" method="post">
                Title:<br>
                <input type="text" class="form-control" name="title" value="<%= course.title %>"required>
                Image:<br>
                <input type="file" class="form-control" name="image" value="<%= course.image %>"required>
                Rating:<br>
                <input type="text" class="form-control" name="rating" value="<%= course.rating %>"required>
                Description:<br>
                <input type="text" class="form-control" name="description" value="<%= course.description %>"required>
                Detail Description:<br>
                <input type="text" class="form-control" name="detail_description" value="<%= course.detail_description %>"required>
                Level: <br>
                <select class="custom-select" name="level">
                        <option selected>Open this select level</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                </select>
                <br><br>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form> 
        </div>
        <hr>
          <div style="text-align: right">
          <button type="button" onclick="location.href='/home/admin/course/'" class="btn btn-secondary">Back</button>
        </div>
        </div>
</body>
</html>