<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head', { title: 'Admin Page' }) %>
</head>
<body><br>
    <%- include('../partials/navbar-admin') %>
    <div class="container">
    <br><br>
    <button type="button" onclick="location.href='/home/admin/course'" class="btn btn-primary">Create Course</button>
    <br>
    <hr>
    <h4>List Course</h4>
          <table class="table">
              <thead class="thead-dark">
                <tr>
                    <td>No</td>
                    <td>Name Course</td>
                    <td>Level</td>
                    <td>Rating</td>
                    <td>Release Date</td>
                    <td>View</td>
                </tr>
              </thead>
              <tbody>
                  <% course.forEach((data, i) => {%>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= data.title %></td>
                    <td><%= data.level %></td>
                    <td><%= data.rating %></td>
                    <td><%= dateFormat(data.createdAt) %></td>
                    <td><a href="/home/admin/course/<%= data.id %>/detail" class="badge badge-success">Detail Course</a></td>
                </tr>
                <%})%>
              </tbody>
          </table>
    </div>
    <%- include('../partials/script') %>
      <%- include('../partials/footer') %>
</body>
</html>