<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body><br>
    <div class="container">
        <h4>Add Tutorial - <%= course.title %></h4>
        <div class="form-group">
            <form action="/home/admin/course/<%=course.id%>/tutorial" method="post">
                Tutorial Name:<br>
                <input type="text" class="form-control" name="tutorial_name">
                Description:<br>
                <input type="text" class="form-control" name="description">
                Score:<br>
                <input type="text" class="form-control" name="nilai_tutorial">
                <br>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form> 
        </div><br>
          <h4>List Tutorial - <%= course.title %></h4>
          <table class="table">
              <thead>
                <tr>
                    <td></td>
                    <td>Name Tutorial</td>
                    <td>Score</td>
                    <td>Actions</td>
                </tr>
              </thead>
              <tbody>
                  <% course.Tutorials.forEach((data, i) => {%>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= data.tutorial_name %></td>
                    <td><%= data.nilai_tutorial %></td>
                    <td>
                            <a href="/home/admin/course/tutorial/edit/<%= data.id %>" class="badge badge-dark">Edit</a>
                            <a href="/home/admin/course/<%= course.id %>/tutorial/<%= data.id %>" onclick="return confirm ('are you sure to delete')" class="badge badge-warning">Delete</a>
                    </td>
                </tr>
                <%})%>
              </tbody>
          </table>
          <div style="text-align: right">
                <button type="button" onclick="location.href='/home/admin/course'" class="btn btn-secondary">Back</button>
              </div>
        </div>
</body>
</html>